/* Default CSS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  font-family: "work Sans", sans-serif;
}

html {
  scroll-behavior: smooth;
  font-size: 89%;
  overflow-x: hidden;
}

body{
  overflow-x: hidden;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif !important;
};

h1, h2, h3, h4, h5, h6{
  margin: 0;
  padding: 0;
  line-height: normal;
}
/* End of Default CSS */
body {
  margin: 0;
  font-family: "Arial", sans-serif;
}

.navbar {
  background-color: rgb(66, 161, 224);
  height: 4rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  transition: background-color 0.4s ease;
}

.navbar.scrolled {
  background-color: rgb(66, 161, 224);
}

.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 90%;
  margin: 0 auto;
}

.logo-container {
  margin-right: 1rem;
}

.logo-image {
  width: 90px;
  height: 4.3rem;
  margin-left: -5.5rem;
}

.nav-links {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.nav-links a {
  color: #fff;
  text-decoration: none;
  padding: 1rem;
  font-size: 1.6rem;
  font-weight: 400;
  transition: color 0.3s ease;
}

.nav-links a:hover {
  color: #ccc;
}

.menu-icon {
  display: none;
  flex-direction: column;
  cursor: pointer;
}

.menu-icon span {
  background-color: #fff;
  height: 3px;
  width: 25px;
  margin: 6px 0;
  transition: 0.4s;
}
/* Hero Section */
.hero-section {
  height: 100vh;
  position: relative;
}

.slideshow-container {
  display: flex;
  transition: transform 2s ease-in-out;
}

.slideshow-container::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(rgba(0, 0, 0, 0.281), rgba(0, 0, 0, 0.144));
  z-index: 2;
}

.slide {
  width: 100%;
  height: 100%;
  position: absolute;
  opacity: 0;
  transition: opacity 2s ease-in-out;
}

.slide.active {
  opacity: 0.3;
}

.hero-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.hero-content {
  font-size: 2.5rem;
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  z-index: 1;
  font-family: sans-serif;
  color: #000;
}


.hero-text h1 {
  font-size: 8rem;
  margin-top: 5rem;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  margin-bottom: -1px;
  white-space: nowrap;
  overflow: hidden; 
}

.hero-text p {
  margin-top: 4rem;
  font-size: 1.2rem;
  line-height: 1.6;
}

.hero-text h5 {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 1.6rem;
  margin-left: 70%;
  width: max-content;
  margin-top: -1rem;
}
/* End of Hero Section */


.banner-section {
  display: flex;
  justify-content: center; 
  text-align: center;
  height: auto; 
}

.content {
  margin: 2rem; 
  margin-top: 2rem;
  font-size: 1.1rem;
}

h2 {
  margin-top: 3rem; 
  margin-bottom: 1rem;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  margin-bottom: 1.2rem; 
}

/* LeadersSection */
.leaders-section {
  width: 100%;
  height: auto;
  background-color: rgba(66, 161, 224, 0.096);
 /* clip-path: polygon(
    50% 0%,
    81% 5%,
    100% 0,
    100% 100%,
    80% 95%,
    50% 100%,
    30% 95%,
    0 100%,
    0 0,
    23% 5%
  ); */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.leader-frame {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.leader-card {
  margin: 50px;
  text-align: center;
}

.leader-image {
  width: 190px;
  height: 190px;
  object-fit: cover;
  border-radius: 50%;
}

.leader-name {
  margin-top: 10px;
  font-size: 13px;
  font-weight: bold;
  color: #333;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
/* End of LeadersSection */

/* EventsSection */
.event-card {
  width: auto;
  height: 390px;
  background: linear-gradient(to right,  rgb(66, 161, 224), #27292bb9);
  border-radius: 90px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: absolute;
  padding: 2.5rem;
  top: 4.2rem;
  opacity: 0;
  transition: opacity 1.2s ease-in-out; 
}

.events-section {
  justify-content: space-between;
  align-items: center;
  height: 65vh;
  overflow: hidden;
  padding: 40px;
}

.events-content {
  display: flex;
  position: relative; 
}

.event-card.active {
  opacity: 1;
}

.event-card h2,
.event-card p {
  color: #fff;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  margin: 0;
  line-height: 2rem;
}

.navigation-buttons {
  position: absolute;
  top: 50%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  transform: translateY(-50%);
}

.prev-button,
.next-button {
  background-color: #fff;
  color: rgb(66, 161, 224);
  border: none;
  border-radius: 90%;
  font-size: 10px;
  padding: 6px;
  cursor: pointer;
}

.prev-button:hover,
.next-button:hover {
  background-color: #fff;
}
/* End of Events Section */

/* Program Section */

.program-section {
  height: auto;
  background-color: #fff;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 4rem 6rem; 
}

.program-card {
  top: -3rem;
  width: 18rem; 
  height: 18rem;
  overflow: hidden;
  position: relative;
  transition: transform 0.9s ease;
  box-shadow: 0.3rem 0.3rem 0.1rem #2127292c, 0.5rem 0.5rem 0.1rem
  #2127292c, 0.7rem 0.7rem 0.1rem #2127292c, 0.9rem 0.9rem 0.1rem
  #2127292c, 1.1rem 1.1rem 0.1rem #2127292c;
   transition: all 0.5s;
   margin: 4rem 1.1rem;  
}

.program-card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: opacity 0.9s ease;
}

.program-card:hover {
  transform: scale(1.04);
}

.program-card:hover .overlay {
  opacity: 1;
}

.overlay a {
  text-decoration: none;
  color: #fff;
  font-weight: bold;
}

body.modal-open {
  overflow: hidden;
}

.modal {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #fff; 
  overflow: auto;
  z-index: 999; 
}

.modal-content {
  background-color: white;
  padding: 20px;
  margin: 10% auto;
  max-width: 600px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.arrow {
  cursor: pointer;
  font-size: 24px;
  margin-top: 10px;
}
/*End of Program Section */

/* Footer Section */
.footer-section {
  background-color: rgb(66, 161, 224);
  color: white;
  padding: 40px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  height: 63vh;
}

.social-media {
  gap: 25px;
}

.social-media a {
  color: #000;
  font-size: 20px;
  text-decoration: none;
  padding: -2px;
  margin-bottom: -3.5rem;
}

.contact-bar{
  background-color: white;
  color: #000;
  padding: 15px;
  margin: 5px;
  cursor: pointer;
  text-align: center;
  border-radius: 50px;
  font-weight: 500;
  width: 60rem;
  margin-top: -1rem;
  margin-right: -0.1rem;
}
.phone,
.address,
.email{ 
  margin-bottom: 0.8rem;
}

.support-bar{
  background-color: #aaa;
  border-radius: 15px;
  margin: 1rem;
  padding: 0.4rem;
}


.payment-methods {
  background-color: lightgrey;
  padding: 10px;
  margin-top: 10px;
}

.payment-methods p {
  margin: 0;
}

.payment-methods input {
  margin: 5px 0;
}


/* End of Footer Section */

/* Responsive Styles */
@media only screen and (max-width: 1300px) {
  .navbar-nav {
    justify-content: center;
  }

  .NavBar-link {
    margin-left: 0;
    margin-top: -4rem;
    padding: 1rem;
  }

  .logo-image {
    margin-left: -4.2rem;
    width: 80px;
    height: 4.2rem;
  }


  .program-section{
    height: auto;
  }
} 

@media only screen and (max-width: 1100px) {
  .NavBar-link {
    font-size: 1.2rem;
  }

  .logo-image{
    height: 4.2rem;
    width: 5rem;
    margin-left: -4rem;
  }
  .hero-content {
    font-size: 2rem;
    top: 19rem;
  }

  .hero-text h1 {
    font-size: 6rem;
  }

  .hero-text p {
    font-size: 1.1rem;
  }
}

@media only screen and (max-width: 1000px) {
  html{
    font-size: 85%;
  }

  .logo-image{
    height: 4.3rem;
    width: 6rem;
    margin-left: -3.2;
  }

  .hero-text h5 {
    margin-left: 60%;
  }
  .event-card{
    font-size: 1.2rem;
  }
}

@media only screen and (max-width: 900px) {
  html{
    font-size: 75%;
    overflow-x: hidden;
  }
  .navbar {
    height: 4rem;
  }

  .NavBar-link {
    font-size: 1rem;
    margin-left: 3.2rem;
    margin-top: -3rem;
  }

  .logo-image {
    margin-right: 0;
    height: 4.2rem;
    width: 6.2rem;
    margin-left: -4rem;
  }


} 

@media only screen and (max-width: 800px) {
  .logo-image {
    margin-right: 0;
    height: 5.2rem;
    width: 6rem;
    margin-left: -3.5rem;
  }
  html{
    overflow-x: hidden;
  }

  .navbar {
    height: 5rem;
  }
}


@media only screen and (max-width: 700px) {
  html{
    overflow-x: hidden;
  }

  .logo-image{
    margin-left: -2.9rem;
  }

  .hero-content h1{
    font-size: 5.2rem;
    margin-bottom: 0.3rem;
  }
  }

  @media only screen and (max-width: 610px) {
    .hero-content h1{
      font-size: 5rem;
      margin-bottom: 0.3rem;
    }

    .program-card{
      left: 21%;
      margin-bottom: -2rem;
      width: 22rem;
      margin: 2rem -1rem;
      height: 20rem;
      }
  }

      @media only screen and (max-width: 590px) {
        html{
          overflow-x: hidden;
        }

        .hero-section{
          position: relative;
          height: 100vh;
        }
      
        .hero-content{
          padding: 1rem;
        }
      
        .hero-content h1{
          font-size: 5.1rem;
          margin-bottom: 0.3rem;
        }
      
        .hero-text h5{
          margin-left: 60%;
        }
        
       .hero-content{
        position: relative;
       }

       .program-card{
        left: 21%;
        margin-bottom: -2rem;
        width: 22rem;
        margin: 2rem -1rem;
        height: 20rem;
        }
      }

      
  @media only screen and (max-width: 570px) {
    html{
      overflow-x: hidden;
    }

    .hero-content h1{
      font-size: 4.2rem;
      margin-bottom: 0.3rem;
    }

    .hero-text h5{
      margin-left: 52%;
    }
  }
      

  @media only screen and (max-width: 500px) {
    html{
      overflow-x: hidden;
    }

    .nav-links {
      display: none;
      flex-direction: column;
      width: 100%;
      position: absolute;
      background-color: rgb(66, 161, 224);
      top: 5rem;
      left: 0;
      right: 0;
      z-index: 999;
    }
  
    .nav-links.active {
      display: flex; 
    }
  
    .menu-icon {
      display: flex;
    }
  
    .logo-image{
      margin-left: -2.2rem;
    }

    .hero-section{
      position: relative;
      height: 100vh;
    }
  
    .hero-content{
      padding: 1rem;
    }
  
    .hero-content h1{
      font-size: 4.4rem;
      margin-bottom: 0.6rem;
    }
  
    .hero-text h5{
      margin-left: 50%;
    }
    
   .hero-content{
    position: relative;
   }

   .program-card{
    margin-left: 7rem;
   }
} 


@media only screen and  (max-width: 483px) {
  html{
    overflow-x: hidden;
  }

  .hero-content h1{
    font-size: 3.9rem;
    margin-bottom: 0.6rem;
  }

  .hero-text h5{
    margin-left: 49%;
  }

  .program-card{
    margin-left: -9%;
   }
}


@media only screen and  (max-width: 445px) {
  html{
    overflow-x: hidden;
  }

  .hero-content h1{
    font-size: 3.8rem;
    margin-bottom: 0.4rem;
  }

  .hero-text h5{
    margin-left: 40%;
  }
}

@media only screen and  (max-width: 440px) {
  html{
    overflow-x: hidden;
  }

  .hero-content h1{
    font-size: 3.5rem;
    margin-bottom: 0.4rem;
  }

  .hero-text h5{
    margin-left: 44%;
  }

  .program-card{
    margin-left: -4rem;
  }
}

@media only screen and  (max-width: 414px) {
  html{
    overflow-x: hidden;
  }

  .nav-links {
    display: none;
    flex-direction: column;
    width: 100%;
    position: absolute;
    background-color: rgb(66, 161, 224);
    top: 5rem;
    left: 0;
    right: 0;
    z-index: 999;
  }

  .nav-links.active {
    display: flex;
  }

  .menu-icon {
    display: flex;
  }

  .hero-section{
    position: relative;
    height: 100vh;
  }

  .hero-content{
    top: 25rem;
    padding: 1rem;
  }

  .hero-content h1{
    font-size: 3.4rem;
    margin-bottom: 0.6rem;
  }

  .hero-text h5{
    margin-left: 41%;
  }

  .hero-text p{
    font-size: 1.3rem;
  }
  
.program-card{
left: 1%;
margin-bottom: -2rem;
width: 35rem;
margin: 2rem -1rem;
height: 24rem;
}
}

@media only screen and  (max-width: 409px) {
  html{
    overflow-x: hidden;
  }

  .hero-content h1{
    font-size: 41px;
    margin-bottom: 0.4rem;
  }
}

@media only screen and (max-width: 405px) {
  html{
    overflow-x: hidden;
  }

  .hero-section{
    position: relative;
    height: 100vh;
  }

  .hero-content{
    top: 25rem;
    padding: 1rem;
  }

  .hero-content h1{
    font-size: 38px;
    margin-bottom: 0.6rem;
  }

  .hero-text h5{
    margin-left: 38%;
  }

  .hero-text p{
    font-size: 1.3rem;
  }
}


@media only screen and (max-width: 388px) {
  html{
    overflow-x: hidden;
  }

  .hero-content h1{
    font-size: 36px;
    margin-bottom: 0.6rem;
  }

  .hero-text h5{
    margin-left: 37%;
  }
} 

@media screen and (max-width: 375px){
  html{
    overflow-x: hidden;
  }

  .hero-content h1{
    font-size: 34px;
    margin-bottom: 0.6rem;
  }

  .hero-text h5{
    margin-left: 33%;
  }
  .program-card{
    left: 1%;
    margin-bottom: -2rem;
    width: 40rem;
    margin: 2rem -1rem;
    height: 20rem;
    }
}
@media only screen and (max-width: 360px){
  html{
    overflow-x: hidden;
  }

  .hero-content h1{
    font-size: 2.8rem;
    margin-bottom: 0.6rem;
  }

  .hero-text h5{
    margin-left: 33%;
  }
  .program-card{
    left: 1%;
    margin-bottom: -2rem;
    width: 40rem;
    margin: 2rem -1rem;
    height: 20rem;
    }
}

@media only screen and (max-width: 357px) {
  html{
    overflow-x: hidden;
  }

  .hero-content h1{
    font-size: 2.6rem;
    margin-bottom: 0.6rem;
  }

  .hero-text h5{
    margin-left: 30%;
  }

  .program-card{
    left: 1%;
    margin-bottom: -2rem;
    width: 25rem;
    margin: 2rem -1rem;
    height: 20rem;
    }
}

@media only screen and (max-width: 350px) {
  html{
    overflow-x: hidden;
  }

  .hero-content h1{
    font-size: 2.6rem;
    margin-bottom: 0.6rem;
  }

  .hero-text h5{
    margin-left: 26%;
  }
}

@media only screen and (max-width: 320px) {
  html{
    overflow-x: hidden;
  }

  .hero-content h1{
    font-size: 2.3rem;
    margin-bottom: 0.6rem;
  }

  .hero-text h5{
    margin-left: 24%;
  }
}